alabaster
appdirs==1.4.4
argh==0.26.2
astroid
astunparse==1.6.3
async-generator
atomicwrites==1.4.0
attrs
autopep8
Babel
backcall
bcrypt
black==19.10b0
bleach
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
click
cloudpickle
colorama
cryptography
cycler==0.10.0
decorator
defusedxml
diff-match-patch
docutils==0.16
entrypoints==0.3
flake8
future==0.18.2
gast==0.3.3
google-pasta==0.2.0
h5py==2.10.0
idna
imagesize
importlib-metadata
intervaltree
ipykernel
ipython
ipython-genutils
isort
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
Keras-Preprocessing==1.1.2
keras
keyring
kiwisolver==1.3.1
lazy-object-proxy
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
mistune==0.8.4
mypy-extensions==0.4.3
nbclient
nbconvert
nbformat
nest-asyncio
numpy==1.20.1
numpydoc
opt-einsum==3.3.0
packaging
pandas
pandocfilters
paramiko
parso==0.7.0
pathspec==0.7.0
pexpect
pickleshare
Pillow==8.1.0
pluggy==0.13.1
prompt-toolkit
psutil
ptyprocess
pycodestyle
pycparser
pydocstyle
pyflakes
Pygments
pylint
pyls-black
pyls-spyder
PyNaCl
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
python-jsonrpc-server
python-language-server
pytz
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtAwesome
qtconsole
QtPy==1.9.0
regex
requests
rope
six
snowballstemmer
sortedcontainers
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
testpath
textdistance
three-merge
toml
tornado
traitlets
typed-ast
typing-extensions==3.7.4.3
ujson
urllib3
watchdog
wcwidth
webencodings==0.5.1
Werkzeug==1.0.1
wget==3.2
win-inet-pton
wincertstore==0.2
wrapt==1.12.1
yapf
zipp
